#root {
  max-width: auto;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* background-color: rgb(16, 66, 50); */
}
/* index.css */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #f5f7fa;
  color: #333;
  line-height: 1.5;
}

a {
  color: #2563eb;
  text-decoration: none;
}



a:hover {
  text-decoration: underline;
}

h1, h2 {
  color: #1e293b;
  margin-bottom: 1rem;
  text-align: center;
  color: rgb(56, 161, 209);
}

button {
  height: 5%;
  cursor: pointer;
  border: none;
  font-weight: 600;
  transition: background-color 0.2s ease;
  background-color: #94b2e4;
  border-radius: 20px;
  color:white;
}

.but{
  height: 30px;
  cursor: pointer;
  border: none;
  font-weight: 600;
  transition: background-color 0.2s ease;
  background-color: #94b2e4;
  border-radius: 20px;
  color:white;
}


button:focus {
  outline: 2px solid #2563eb;
  outline-offset: 2px;
}

input[type="number"] {
  font-size: 1rem;
  border: 1px solid #cbd5e1;
  border-radius: 4px;
  padding: 0.5rem 0.75rem;
  transition: border-color 0.2s ease;
}

input[type="number"]:focus {
  border-color: #2563eb;
  outline: none;
  box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.3);
}

.p-4 {
  padding: 1rem;
}

.max-w-xl {
  max-width: 36rem; /* 576px */
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.grid {
  display: grid;
  gap: 0.5rem;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-1{
  gap: 12rem;
}
.gr{
  width:63px
}

.border {
  border: 1px solid #cbd5e1;
  border-radius: 6px;
  background-color: white;
}

.border-t {
  border-top: 1px solid #cbd5e1;
}

.rounded {
  border-radius: 6px;
}

.hover\\:bg-gray-50:hover {
  background-color: #f9fafb;
}

.bg-blue-500 {
  background-color: #3b82f6;
}

.bg-blue-500:hover {
  background-color: #2563eb;
}

.text-blue-500 {
  color: #2563eb;
}

.text-red-500 {
  color: #ef4444;
}

.text-gray-500 {
  color: #6b7280;
}

.text-sm {
  font-size: 0.875rem;
}

.text-xl {
  font-size: 1.25rem;
}

.text-2xl {
  font-size: 1.5rem;
}

.font-bold {
  font-weight: 700;
}

.font-semibold {
  font-weight: 600;
}

.mb-4 {
  margin-bottom: 1rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.hover\\:underline:hover {
  text-decoration: underline;
}

.addMeal {
  color: white;
  height:40px;
  padding: 0.375rem 1rem;
  border-radius: 4px;
  font-weight: 600;
}

.addMeal, .but {
  background-color: #2563eb;
}

.cal{
  width: 15%;
}

.Nutr{
  width: 14%;
}

.Applink{
 background-color: #bce4eb;
 font-size: 1p0x;

} 
 